* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: rgb(0, 150, 136);
    background: linear-gradient(180deg, rgba(0, 150, 136, 1) 30%, rgba(219, 219, 211, 1) 30%);
    font-family: sans-serif;
}

img {
    width: 100%;
}

i {
    padding: 0 0.2rem;
}

a {
    color: black;
}

input,
button {
    width: 100%;
    border: 0px;
    background-color: white;
}


#app {
    background-color: red;
    min-height: 80vh;
}

#left {
    border: 1px solid black;
}

.img-avatar {
    border-radius: 50%;
    padding: 0 0.2rem;
}

.testo-piccolo {
    font-size: 0.8rem;
}

#right {
    border: 1px solid black;

}

#chat {
    height: 90%;
}

.bck-green {
    background-color: #d5f9ba;
    margin: 0.2rem 0;
}

.bck-white {
    background-color: white;
    margin: 0.2rem 0;

}